"
<li><i class="fa fa-folder-o" aria-hidden="true"></i><b></b>
	<ul>
		<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>beszerzesi_rendszer</b>
			<ul>
				<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>partner_beszerzes</b>
					<ul>
						<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>beszerzesek</b>
							<ul>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Beszerzések Irodaszerek</li>
							</ul>
						</li>
						<li>
							<i class="fa fa-folder-o" aria-hidden="true"></i><b>uj_keszulek</b>
							<ul>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Gadget</li>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Tablet</li>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Telefon</li>
							</ul>
						</li>
						<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>beszerzesek</b>
							<ul>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Beszerzések Irodaszerek</li>
							</ul>
						</li>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Órák Kiegészítők</li>
					</ul>
				</li>
				<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>hasznalt_beszerzes</b>
					<ul>
						<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>szerviz_tabla</b>
							<ul>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Alkatrész készlet</li>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Alkatrészlista</li>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Belső Szervíz Készlet</li>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Szervíz Napló</li>
							</ul>
						</li>
						<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>hunting_list</b>
							<ul>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Aktuális árak</li>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Keresésilista</li>
							</ul>
						</li>
						<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>flipping</b>
							<ul>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Principles</li>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Termék</li>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Készlet</li>
							</ul>
						</li>
						<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>beszerzesi_partner_tabla</b>
							<ul>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Bevált</li>
								<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Potenciális</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>disztribucios_rendszer</b>
			<ul>
				<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Disztribúciós Partner Készülékek</li>
				<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Disztribúciós Kiegészítő</li>
				<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Disztribúciós Használt</li>
			</ul>
		</li>
		<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>ertekesitesi_rendszer</b>
			<ul>
				<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>marketing</b>
					<ul>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Social</li>
					</ul>
				</li>
				<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>sales</b>
					<ul>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Forgalom</li>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Használt Sales</li>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Marketing Sales</li>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Partner Sales</li>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Szervíz Sales</li>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Tartozek Sales</li>
					</ul>
				</li>
			</ul>
		</li>
		<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>logisztikai_rendszer</b>
			<ul>
				<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>sales_report</b>
					<ul>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Sales Report Évi</li>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Sales Report Havi</li>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Sales Report Kimutatás</li>
					</ul>
				</li>
				<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>beszerzesi_report</b>
					<ul>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Beszerzési Report Gadget</li>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Beszerzési Report Használt</li>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Beszerzési Report Partner</li>
					</ul>
				</li>
				<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>disztribucios_report</b>
					<ul>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Disztribúciós Report</li>
					</ul>
				</li>
				<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>sales_platform_report</b>
					<ul></ul>
				</li>
				<li><i class="fa fa-folder-o" aria-hidden="true"></i><b>alkalmazottak_report</b>
					<ul>
						<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Bérszám</li>
					</ul>
				</li>
				<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Disztribúciós Report</li>
			</ul>
		</li>
		<li><i class="fa fa-file-text-o" aria-hidden="true"></i>Some profiles</li>
	</ul>
</li>"
