.website-logo{
    width: 60px;
    height: 60px;
}

:root {
    --primary-color: #3F51B5;
    --primary-dark-color: #303F9F;
}
.btn-info{
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}
.btn-info:hover{
    background-color: #117888 !important;
}

.language-logo{
    max-width: 100%;
    height: 40px;
}

.invisible{
    display:none;
}
.visible{
    display:block;
}

input:checked + label {
    color: red;
}
#statistics-table-div{
    display:block;
}

.adds_statistics {
   font-size: 20px;
    display: inline-block;
    margin-top: 18px;
}
.statistics-h2 {
    display: inline-block;
    padding-top: 20px;
    font-size: 25px;
}
.statistics-div {
    padding-bottom: 20px    ;
    margin-left: 20px;
    margin-right: 20px;
}

fieldset{
    border: 1px groove #8587a3 !important;
    padding: 15px !important;
    border-radius: 7px;

}
legend{
    width: auto !important;
    font-size: 1.11em !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-bottom: 0 !important;
}
div#content {
    position: relative;
}