.website-logo{
    width: 60px;
    height: 60px;
}

:root{
    --primary-color: #3F51B5;
    --primary-dark-color: #303F9F;
}
.language-logo{
    max-width: 100%;
    height: 40px;
}
x{
    overflow-x: scroll;
}
.invisible{
    display:none;
}
.visible{
    display:block;
}

