.website-logo{
    width: 60px;
    height: 60px;
}

:root {
    --primary-color: #3F51B5;
    --primary-dark-color: #303F9F;
}
.language-logo{
    max-width: 100%;
    height: 40px;
}

.invisible{
    display:none;
}
.visible{
    display:block;
}

input:checked + label {
    color: red;
}
#statistics-table-div{
    display:block;
}

.adds_statistics {
   font-size: 20px;
    display: inline-block;
    margin-top: 18px;
}
.statistics-h2 {
    display: inline-block;
    padding-top: 20px;
    font-size: 25px;
}
.statistics-div {
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
